@font-face {
  font-family: 'iconfont';
  src: url('./iconfont.ttf') format('truetype');
  font-display: swap;
}

.iconfont {
  font-family: 'iconfont' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
