.TaskDetail {
  display: flex;
  overflow: hidden;
  height: 100%;
  gap: 8px;

  .ListAndResult {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    position: relative;
    flex: 66% 1 1;
    > main {
      flex: 100px 1 1;
      overflow: hidden;
      padding: 8px 0 8px 8px;

      display: flex;
      gap: 20px;
      position: relative;

      .TaskResult {
        flex: 100px 1 1;
        display: flex;
        flex-direction: column;
        gap: 16px;
      }

      .ResultTable {
        overflow: auto;
        border-collapse: collapse;
        table-layout: fixed;
        width: fit-content;

        td,
        th {
          border: 1px solid #e6e8ed;
          background-color: white;
          width: 300px;
          height: 1px; // 让表格内容的height:100% 生效
          padding: 12px;
        }

        th {
          padding: 10px 12px;
          line-height: 1;
          text-align: left;
          font-weight: 500;
        }

        .ResultEditor {
          height: 136px;
          overflow: auto;
        }
      }
    }

    .TabWrap {
      flex: 300px 0 0;
      overflow: hidden;
      background-color: white;
      border-radius: 8px;
      max-width: 0;
      transition: all 0.3s ease-in-out;
    }

    .BtnOpen {
      position: absolute;
      top: 10px;
      left: 0;

      background: #ffffff;
      box-shadow: 1px 0px 4px 0px rgba(0, 0, 0, 0.12);
      border-radius: 0px 2px 2px 0px;
      padding: 8px 4px;
      transform: none;
      transition: all 0.3s ease-in-out;
    }

    &.ListAndResultOpenList {
      .BtnOpen {
        transform: translateX(-110%);
      }

      .TabWrap {
        max-width: 300px;
      }
    }
  }

  :global {
    .ant-list-header {
      padding: 0 12px;
      margin-bottom: 16px;
    }
  }

  .Document {
    background-color: white;

    width: 0;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    &.DocumentOpen {
      width: 44%;
      flex-grow: 1;
      flex-shrink: 1;
    }

    .DocumentBody {
      flex: 100px 1 1;
      overflow: auto;
      position: relative;

      .DocumentContent {
        padding: 12px;
      }

      > footer {
        background: #f7f8fa;
        padding: 5px 24px;

        color: #5e6266;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
  }
}
