.TaskDetail {
  display: flex;
  overflow: hidden;
  height: 100%;
  gap: 8px;

  .ListAndResult {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    position: relative;
    flex: 66% 1 1;
    > main {
      flex: 100px 1 1;
      overflow: hidden;
      padding: 8px 0 8px 8px;

      display: flex;
      gap: 20px;
      position: relative;

      .TaskResult {
        flex: 100px 1 1;
      }
    }

    .TabWrap {
      flex: 300px 0 0;
      overflow: hidden;
      background-color: white;
      border-radius: 8px;
      max-width: 0;
      transition: all 0.3s ease-in-out;
    }

    .BtnOpen {
      position: absolute;
      top: 10px;
      left: 0;

      background: #ffffff;
      box-shadow: 1px 0px 4px 0px rgba(0, 0, 0, 0.12);
      border-radius: 0px 2px 2px 0px;
      padding: 8px 4px;
      transform: none;
      transition: all 0.3s ease-in-out;
    }

    &.ListAndResultOpenList {
      .BtnOpen {
        transform: translateX(-110%);
      }

      .TabWrap {
        max-width: 300px;
      }
    }
  }

  :global {
    .ant-list-header {
      padding: 0 12px;
      margin-bottom: 16px;
    }
  }

  .Document {
    background-color: white;

    width: 0;
    overflow: hidden;

    &.DocumentOpen {
      width: 44%;
      flex-grow: 1;
      flex-shrink: 1;
    }
  }

  .DocumentItem {
    display: flex;
    gap: 10px;
    align-items: baseline;
    padding: 12px;

    > img {
      width: 14px;
    }

    > main {
      flex: 100px 1 1;
    }
  }
}
